<%= form_with model: book, local: true do |f| %>
  <%= render 'layouts/errors', obj: book %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>
  <div class="form-group" id="rate">
    <%= f.label :rate,'Rate' %>
    <%= f.hidden_field :rate, id: :review_star %>
  </div>
  <%= f.fields_for :category do |c_f| %>
    <div class="form-group">
      <%= c_f.label :name, 'Category' %>
      <%= c_f.text_field :name, class: 'form-control book_category' %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>

<script>
  $(document).on('turbolinks:load', function () {
    const readOnly = "<%= book.id.present? %>" === "true";
    $('#rate').empty();
    $('#rate').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'book[rate]',
      readOnly: readOnly,
      half: true,
    });
  });
</script>